body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

section {
    display: flex;
}

.top-h1 {
    color: white;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
}



.donate-button {
    text-decoration: none;
    background-image: linear-gradient(orangered, tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    text-align: center;

}

.top-sector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/donation13.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}