body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

section {
    display: flex;
    margin-bottom: 150px;

}




.top-h1 {
    color: white;
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
}

.icon-div {
    display: flex;
    height: 300px;
    height: 200px;
    justify-content: center;

}



.donate-button {
    text-decoration: none;
    background-image: linear-gradient(orangered, tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    text-align: center;

}

.donate-button-div {
    padding-top: 40px;
}

.top-sector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/donation13.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.donation-box {
    display: flex;
    text-align: center;
    font-size: 20px;
    width: 20px 40px;
    align-items: center;


}

.first-part {
    text-align: center;
    justify-content: center;
}

.taka {
    padding: 10px;
    text-align: center;
    box-shadow: 10px 10px 30px gray;
    width: 25%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    border-radius: 5px;
    color: grey;
    display: flex;
}

.middle-section {
    align-items: center;
    text-align: center;
    font-size: 30px;
}

#tk-colour {
    background-image: linear-gradient(orange, tomato);
    border-color: 7px solid black;
    color: darkred;
}

.width {
    width: 100%;
}

.icon-div {

    display: flex;


    width: 200%;
}

input {
    border: none;
    border-bottom: 2px solid grey;
    font-size: 40px;
}

.part-3-div-1 {
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 30px;

}




.icon-div-1 {
    width: 350px;
    height: 250px;
    border: 1px solid gray;
    text-align: center;
    box-shadow: 8px 8px 16px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(144, 184, 184);
    margin: 20px;

}

.icon-1 {
    width: 50px;
}

.icon-div-2 {
    width: 350px;
    height: 250px;
    border: 1px solid gray;
    text-align: center;
    box-shadow: 8px 8px 16px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(224, 162, 162);
    margin: 20px;

}

.icon-div-3 {
    width: 350px;
    height: 250px;
    border: 1px solid gray;
    text-align: center;
    box-shadow: 8px 8px 16px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(226, 199, 252);
    margin: 20px;
}

.learn-more-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(136, 85, 231), rgb(61, 18, 85));
    padding: 10px 5px;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.learn-more {
    display: list-item;
    text-align: center;
    font-size: 20px;
}

.medical-help {
    padding-top: 40px;
    width: 500px;
    height: 400px;
    border: 1px solid gray;
    text-align: center;
    box-shadow: 8px 8px 16px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(44, 145, 240);
    justify-content: center;

}

.medical-icon {
    width: 50px;
}

.medical-div {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}



.end-part {
    justify-content: center;
    text-align: center;
    display: list-item;
    font-size: 30px;
}

.s-b {
    margin: 0%;
    padding: 0%;

    background-color: ;
    background-position: center;

    justify-content: center;
}

.box {
    width: 500px;
    height: 200px;
    background: rgb(224, 162, 162);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.form-box {
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 15px;
}

.form-box input {
    font-size: 18px;
    border: none;
    outline: none;
    padding: 15px 18px;
    color: black;
    background: white;
}

.form-box button {
    font-size: 18px;
    border: none;
    background-color: darkblue;
    padding: 15px 20px;
    color: whitesmoke;
    border-radius: 5px;
}

footer {
    background: black;
    color: white;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
}

.footer-div {
    padding-top: 20px;
}